body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*code*/
.entry pre {
    background-color: #051e30;
    border-color: #289ff4;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    color: #ffffff;
    font-family: "Courier 10 Pitch",Courier,monospace;
    line-height: 19px;
    margin: 30px 0px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 10px 10px 18px;
    word-wrap: break-word;
}

.entry pre {
    padding: 18px 20px;
    margin: 30px 0;
    border: 1px solid #ddd;
    line-height: 19px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto;
    overflow-y: hidden;
}